<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin-ext" rel="stylesheet">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Jakub Nowakowski - your web developer</title>
</head>


<body>
<div id='nav'>
    <a class="burger-nav"></a>
	<ol>
		<li> <a href='#container0' id="main">Home Page</a> </li>
		<li> <a href='#container1'>Front-end Development</a> </li>
		<li> <a href='#container2'>Back-end Development</a> </li>
		<li> <a href='https://github.com/JakNowy' target="_blank">GitHub</a> </li>
		<li>
            {% if current_user.is_authenticated %}
			<a href="{{ url_for('logout') }}">Log out [{{ current_user.username }}]</a>
            {% else %}
			<a href="{{ url_for('login') }}">Log in</a>
            {% endif %}
			<!--<ul>-->
				<!--<li><a href='#container4'>E-mail</a></li>-->
				<!--<li><a href='https://github.com/JakNowy' target="_blank">GitHub</a></li>-->
				<!--<li><a href='https://stackoverflow.com/users/8570826/kobe-bryant' target="_blank">Stack Overflow</a></li>-->
			<!--</ul>-->
        </li>
    <div class="return"></div>
    </ol>
</div>

<div id="container0"> </div>

<div id="container0-2">
	<div class="content">
		<p class="title"> Welcome at my website!</p>
	</div>

</div>

<div id='container1' class="container-img">
	Front end Development
</div>

<div id="container1-2">
    <div class="content">
        <p class="title">What kind of technologies am I learing?</p>
		<img src="{{ url_for('static', filename='img/frontend/html.png') }}" class="frontend"> </img>
		<img src="{{ url_for('static', filename='img/frontend/css.png') }}" class="frontend"> </img>
		<img src="{{ url_for('static', filename='img/frontend/js.png') }}" class="frontend"> </img>
		<img src="{{ url_for('static', filename='img/frontend/bootstrap.png') }}" class="frontend"> </img>
		<div style="clear:both"></div>
	</div>
</div>

<div id='container2' class="container-img">
    Back end Development
</div>

<div id="container2-2">
	<div class="content">
		<h3 style="text-align: center; font-size: 56px">Python</h3>
		I use <span>Python 3</span> for backend purposes. I'm learing both <span>Flask</span> and <span>Django</span>
        frameworks.
        {% if current_user.is_authenticated %}
            Feel free to share your opinions about my website below.
        {% else %}
            Feel free to <a href={{ url_for('register') }}>register </a>
            and <a href={{ url_for('login') }}>login </a>
            and share your opinions about my website below.
        {% endif %}
        Once logged, you can also make a <a href={{ url_for('donate') }}>donatation </a>for me.

        <br/><br/>
		<img src="{{ url_for('static', filename='img/python.png') }}" style="float:right; width: 50%"/>
		<div style="clear: both"></div>
	</div>
</div>

<div id='container4'>
	<div class="content">
        <h3>Comment section</h3>
        {% if current_user.is_authenticated %}
        <h6>(You are logged as <span style="color: blue">{{ current_user.username }}</span>)
                {% if not comments.items %}
                <div>There are no comments yet!</div>
            {% endif %}
        </h6>
        {% else %}
            <h6>Please login in order to comment.
                {% if not comments.items %}
                    <div>There are no comments yet!</div>
                {% endif %}
            </h6>
        {% endif %}

        {% if current_user.is_authenticated %}
            <form method="post" action={{ url_for('home') }}>
                {{ form.hidden_tag() }}
                <div class="content">
                    {{ form.comment(class = 'form') }}<br/>
                    {{ form.submit(class = 'form-button') }}<br/>
                </div>
            </form>
        {% endif %}
    </div>

    <div class="content">
            {% for comment in comments.items %}
                <div class="comment">
                    <div class="comment-content"> {{ comment.comment }} </div>
                    <div class="comment-data"> Posted by <span>{{ comment.author.username }}</span>
                        on {{ comment.date }} </div>
                </div>
            {% endfor %}

            <div style="clear: both"></div>

        <div class="pagination-bar">
            {% for page_num in comments.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num == page %}
                <a class="page current" href= "{{ url_for('home',page=page_num)}}">{{ page_num }}</a>
                {% else %}
                <a href="{{ url_for('home',page=page_num)}}" class="page" >{{ page_num }}</a>
                {% endif %}
            {% endfor %}
        </div>

    </div>

</div>

<script src="{{ url_for('static',filename='scripts/jquery.js') }}"></script>
<script src="{{ url_for('static',filename='scripts/script.js') }}"></script>
</body>
</html>